
  .body{
    font-family: "Roboto";
    font-size: x-large;
    font-weight: 500;
    color:rgb(0, 0, 0);
    -webkit-text-stroke-width: 0.15px;
    -webkit-text-stroke-color: rgb(0, 0, 0)    
  }

  
  .container {
    margin: 2rem;
    padding: 1rem;
    background-color: #fff;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr;
    border-radius: 12px;
    background-image: radial-gradient(circle at 10%, #ff8a00, #9406cc);
    box-shadow: 0 25px 35px rgba(0, 0, 0, 0.356);    
    
    }
    .update {
    position: absolute;
    bottom: 90%;
    left: 5%;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    background-color: #fc9400;
    color: #fff;
    padding: 2% 5%;
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.294);
    }
    
    .delete {
    position: absolute;
    bottom: 90%;
    left: 80%;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    background-color: rgb(167, 39, 61);
    color: #fff;
    padding: 2% 5%;
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.294);
    }
    
    .container__text {
    padding: 20px 20px 0;
    position:relative;
    
    }
    
    .h1 {
    color: #000000;
    font-weight: 200;
    font-size:15px;
    font-family: "Roboto";
    }
    
    .h2 {
    margin-bottom: 5px;
    font-size: 50px;
    font-weight: 400;
    color: #818189;
    }
    
    .p {
    color: #351897;
    font-weight: bold;
    font-size: 1.2rem;
    }
    
    .banner {
    position: absolute;
    left: 45%;
    top: 70%;
    min-width: 20%;
    min-height: 15%;
    border: 2px solid rgb(255, 255, 255);
    font: normal 20px/40px 'Rye';
    text-align: center;
    color: rgb(255, 255, 255);
    background: rgb(2, 179, 32);
    border-radius: 4px;
    box-shadow: 0 0 30px rgba(0,0,0,.15) inset,
    0 6px 10px rgba(0,0,0,.15);
    }

    /* cyrillic-ext */
   



